@tailwind base;
@tailwind components;
@tailwind utilities;

/**
*
* @link https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6
*/

.scroll-container {
  position: relative;
  display: flex;
  align-items: center;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  /**/
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  /**/
  .li22 {
    display: inline-block;
  }
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
.li22 {
  display: inline-block;
}
/* .scrolling-wrapper {
  -webkit-overflow-scrolling: touch !important;
} 
.scrolling-wrapper {
  &::-webkit-scrollbar {
    display: none;
  }
}
*/

/* .search-focus-icon {
  display: none;
}

.input-search:focus .search-focus-icon{
  display: flex;
  
} */
input:focus ~ body{
  background-color: yellow;
}
#input-search:focus{
  outline: none;
}

#input-search:focus + #parent-input-search{
  background-color: yellow;
}

.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  width: 5px;
  background: #000;
}



.scrollbar-thin1::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
  border-radius: var(--scrollbar-track-radius);
}
.scrollbar-thin1::-webkit-scrollbar-track:hover {
  background-color: var(--scrollbar-track-hover, var(--scrollbar-track));
}
.scrollbar-thin1::-webkit-scrollbar-track:active {
  background-color: var(--scrollbar-track-active, var(--scrollbar-track-hover, var(--scrollbar-track)));
}
.scrollbar-thin1::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-thumb-radius);
}
.scrollbar-thin1::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover, var(--scrollbar-thumb));
}
.scrollbar-thin1::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-thumb-active, var(--scrollbar-thumb-hover, var(--scrollbar-thumb)));
}
.scrollbar-thin1::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-corner);
  border-radius: var(--scrollbar-corner-radius);
}
.scrollbar-thin1::-webkit-scrollbar-corner:hover {
  background-color: var(--scrollbar-corner-hover, var(--scrollbar-corner));
}
.scrollbar-thin1::-webkit-scrollbar-corner:active {
  background-color: var(--scrollbar-corner-active, var(--scrollbar-corner-hover, var(--scrollbar-corner)));
}
.scrollbar-thin1 {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb, initial) var(--scrollbar-track, initial);
}
.scrollbar-thin1::-webkit-scrollbar {
  display: block;
  width: 1px !important;
  height: 8px;
}